Source: vkvideo
Section: net
Priority: optional
Maintainer: Vladimir Yakovlev <nvbn.rm@gmail.com>
Build-Depends: cdbs (>= 0.4.49), debhelper (>= 7), python (>= 2.4), python-support, python-setuptools, python-keyring, python-gobject, python-gi
Standards-Version: 3.9.2
Homepage: https://github.com/nvbn/vkvideo/
#Vcs-Git: git://git.debian.org/collab-maint/terminator.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/terminator.git;a=summary

Package: vkvideo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-gobject, python-gi, python-keyring, python-support
Description: VK video lens
